body {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
}

.logo, nav, header, aside, .body-area, footer {
    display: block;
    background-color: lightgray;
    font-weight: bold;
    font-size: 2rem;
    box-sizing: border-box;
}

.logo {
    padding: 1rem 2rem;
    margin: 1rem 0;
}

nav {
    text-align: center;
    margin: 1rem 0;
}

header {
    text-align: center;
    align-content: center;
    min-height: 100px;
    margin: 1rem 0;
}

main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1rem;
}

aside {
    min-height: 390px;
    text-align: center;
    align-content: center;
}

.body-area {
    min-height: 390px;
    text-align: center;
    align-content: center;
}

footer {
    clear: both;
    text-align: center;
    margin: 1rem 0;
}